@import 'lib/style';

.outer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $lightGrayColor;
  padding: 8px;
}

.container {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  background: white;
  max-width: 480px;
  border: 1px solid rgba($grayColor, 0.3);
  box-sizing: border-box;
  border-radius: 12px;
  padding-bottom: 16px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 16px 0 12px 16px;
}

.header {
  @include title-text;
  color: $blackColor;
}

.calendar_select_container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: center;
}
.calendar_select_container select {
  cursor: pointer;
}

.calendar_select_label {
  @include caption-medium-text;
  margin-bottom: 5px;
  min-width: 105px;
  text-align: left;
}

.button_dept_toggle {
  background-color: $lightGrayColor;
  box-shadow: 1px 2px #888888;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
  min-width: 88px;
  padding: 0 2px;
}
.button_dept_toggle:hover {
  color: $blackColor;
  opacity: 0.7;
}
